
name: Deployment

on:
  pull_request:
    branches:
      - "release/*"
      - "feature/*"
    types: [closed]

  workflow_dispatch:

jobs:
  build-version:
    runs-on: ubuntu-latest
    outputs:
      new-version: ${{ steps.version.outputs.new-version }}
      branch: ${{ steps.extract-number-branch.outputs.branch }}
    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Get current version
        run: |
          GET_VERSION=$(node -p -e "require('./package.json').version")
          echo "GET_VERSION=${GET_VERSION}" >> $GITHUB_ENV

      - name: Validate version format
        id: extract-format-version
        run: |
          if [ $GET_VERSION =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]; then
            TYPE_FORMAT_VERSION="latest"
          elif [ $GET_VERSION =~ ^[0-9]+\.[0-9]+\.[0-9]+\-[0-9]+\.[0-9]+$ ]; then
            TYPE_FORMAT_VERSION="release"
          elif [ $GET_VERSION =~ ^[0-9]+\.[0-9]+\.[0-9]+\-tik-[0-9]+-patch\.[0-9]+$ ]; then
            TYPE_FORMAT_VERSION="hotfix"
          elif [ $GET_VERSION =~ ^[0-9]+\.[0-9]+\.[0-9]+\-[0-9]+-alpha\.[0-9]+$ ]; then
            TYPE_FORMAT_VERSION="develop"
          fi
          echo "TYPE_FORMAT_VERSION=${TYPE_FORMAT_VERSION}" >> $GITHUB_ENV

      - name: Extract branch number
        id: extract-number-branch
        run: |
          BRANCH=${{ github.base_ref }}
          IFS='/' read -ra BRANCH_PARTS <<< "$BRANCH"
          echo "branch=${BRANCH}" >> $GITHUB_OUTPUT
          echo "source_branch=${BRANCH_PARTS[0]}" >> $GITHUB_OUTPUT
          echo "NUMBER_BRANCH=${BRANCH_PARTS[1]}" >> $GITHUB_ENV
          echo "BRANCH_NUMBER is ${BRANCH_NUMBER}"

      - name: Set Version Release
        if: ${{ steps.extract-number-branch.outputs.source_branch == 'release' }}
        run: |
          echo "TYPE_FORMAT_VERSION is $TYPE_FORMAT_VERSION"
          if [[ $TYPE_FORMAT_VERSION == "release" ]]; then
            IFS='-' read -ra VERSION_PARTS <<< "$GET_VERSION"
            IFS='.' read -ra VERSION_PARTS_SECOND <<< "${VERSION_PARTS[1]}"
            GET_BRANCH_NUMBER="${VERSION_PARTS_SECOND[0]}"
          
            if [[ $GET_BRANCH_NUMBER == $BRANCH_NUMBER ]]; then
              CURRENT_NUMBER="${VERSION_PARTS_SECOND[1]}"
              NEW_NUMBER=$((CURRENT_NUMBER + 1))
              NEW_VERSION="${VERSION_PARTS[0]}-${BRANCH_NUMBER}.${NEW_NUMBER}"
            else
              IFS='.' read -ra VERSION_PARTS_FIRST <<< "${VERSION_PARTS[0]}"
              MAJOR_VERSION="${VERSION_PARTS_FIRST[0]}"
              MINOR_VERSION="${VERSION_PARTS_FIRST[1]}"
              NEW_VERSION_MINOR=$((MINOR_VERSION + 1))
              BRANCH_NUMBER=$BRANCH_NUMBER
              NEW_VERSION="${MAJOR_VERSION}.${NEW_VERSION_MINOR}.0-${BRANCH_NUMBER}.1"
            fi
            echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV
          else
            IFS='.' read -ra VERSION_PARTS <<< "$CURRENT_VERSION"
            MAJOR_VERSION="${VERSION_PARTS[0]}"
            MINOR_VERSION="${VERSION_PARTS[1]}"
            NEW_VERSION_MINOR=$((MINOR_VERSION + 1))
            BRANCH_NUMBER=$BRANCH_NUMBER
            NEW_VERSION="${MAJOR_VERSION}.${NEW_VERSION_MINOR}.0-${BRANCH_NUMBER}.1"
            echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV
          fi


      - name: output Version
        id: version
        run: |
          echo "new-version=$NEW_VERSION" >> "$GITHUB_OUTPUT"

      - name: Log GITHUB_ENV
        run: |
          echo "GET_VERSION is $GET_VERSION"          
          echo "source_branch is ${{ steps.extract-number-branch.outputs.source_branch }}"
          echo "branch is ${{ steps.extract-number-branch.outputs.branch }}"
          echo "BRANCH_NUMBER is $BRANCH_NUMBER"
          echo "new-version is ${{ steps.version.outputs.new-version }}"          
          echo "TYPE_FORMAT_VERSION is $TYPE_FORMAT_VERSION"